{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body">
            <div class="layui-form" lay-filter="">
              <!-- 原密码 -->
              <div class="layui-form-item">
                <label class="layui-form-label">原密码</label>
                <div class="layui-input-block">
                  <input type="password" name="old_pass" class="layui-input">
                </div>
              </div>
              <!-- 新密码 -->
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                  <input type="password" name="pass_word" class="layui-input">
                </div>
              </div>
              <!-- 确认密码 -->
              <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                  <input type="password" name="pass_word_1" class="layui-input">
                </div>
              </div>
              <!-- 确认修改按钮 -->
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="up_pass" id="up_pass">确认修改</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block js %}
  <script>
    layui.config({
      base: '{% static "layuiadmin/" %}' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
      var $ = layui.$,
        layer = layui.layer;
        form = layui.form;

      form.on('submit(up_pass)', function (data) {
        var field = data.field;
        console.log(field);

        //console.log('新密码:', field.pass_word);
        //console.log('确认密码:', field.pass_word_1);

        // 前端验证
        if (field.old_pass === "") {
          layer.msg("原密码不能为空！");
          return false;
        }
        if (field.pass_word === "") {
          layer.msg("新密码不能为空！");
          return false;
        }
        if (field.pass_word !== field.pass_word_1) {
          layer.msg("两次密码输入不一致");
          return false;
        }

        // 发送 AJAX 请求
        $.ajax({
          type: 'POST',
          url: '/update_password/',
          data: {
            "old_pass": field.old_pass,
            "pass_word": field.pass_word,
            "pass_word_1":field.pass_word_1,
            "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val() // 添加 CSRF 令牌
          },
          success: function (res) {
            if (res.Code === 0) {
              layer.msg(res.msg, { icon: 1, time: 2000 }, function () {
                // 可以在这里添加跳转逻辑，比如跳转到个人信息页面
              });
            } else {
                layer.msg(res.msg, { icon: 2 });
              //layer.msg(res.msg, { icon: 2 });
            }
          },
          error: function (response) {
            layer.msg('请求出错，请稍后重试！', { icon: 2 });
          }
        });

        return false; // 阻止表单默认提交
      });
    });
  </script>
{% endblock %}